ul {
  color: #D5ECDD  !important;
  display: flex;
  align-content: center;
  justify-content: center;
}
li{
  list-style-type: none;
  margin-left: 50px;
  font-size: 20px;
  margin:10px;
  text-align: center;
 
}
.gallery,.home,.contact,.services,.about{
  text-decoration: none;
  color: 	#696969;
  font-family: "Great Vibes", cursive; 
  font-weight: normal;
    text-shadow: 0 1px 1px #fff; 
  margin:30px;
  text-align: center;
  align-items: center;
}

.home:hover {color: #FFDAC1; font-size: 22px;}
.contact:hover {color:#B5EAD7; font-size: 22px;}
.services:hover {color:#fdfd96;  font-size: 22px;}
.about:hover {color:#cafd96;  font-size: 22px;}
.gallery:hover {color:#fd96fd;  font-size: 22px;}

.navbar{
  align-items: center;
  text-align: center;
}