
.container{
   height: 600px;
   width: auto;
   margin: 5%;
  
}
.container:hover{
   opacity: 30%;
}
.container_:hover .container{
   opacity: 30%;
}

.container_{
 text-justify: auto;
   justify-content: center;
   text-align: center;
   position: relative;
   top: -700px;

}
.intro_,.intro{
   font-family: "Great Vibes", cursive; 
   font-weight: normal;
     text-shadow: 0 1px 1px #fff; 
     font-size: 100%;
     font-size: 22px;
     color: 	#8a7586;
}
.intro_{
   font-size: 40px;
   font-family:"Great Vibes", cursive,monospace;
   margin-bottom: 100px;
   color: #e8a0e9;
}

.col{
   height: 600px;

}