.row{
    display: grid;
    grid-template-columns: auto auto auto;
  
    background-image: url('../../images/image07.png');
    background-repeat: repeat;
    background-size: 700PX;
   
}

.icon{
    margin-bottom: 10px;
     margin: 5px;
     height: 23px;
     position: relative;
    top: 30px;

}
.col1{
    margin-left:90px;
 
}
.col2{
    text-align: center;
    font-size: 28px;
   color:	#9b9b9b;

}
.col3{
   
    text-align: right;
    margin-right:25px;
    display: inline;
}
.line{
    border-top: 1px dashed #FFF0F5;
    width:1350px;
}

