.AllPost{
    font-family: "Great Vibes", cursive; 
  font-weight: normal;
    text-shadow: 0 1px 1px #fff; 
    float: right;
    flex:3;
    text-align: center;
    color: #696969	;
 
    }

.ListItemsPost{
    list-style-type: none;
    margin: 55px;
    width: 300px;
    height: 400px;
    font-weight: 400;
    font-style: normal;
    background-blend-mode: normal;
    background-color: transparent;
    border: 10px solid rgba(0, 0, 0, 0);
    box-shadow: rgb(192, 192, 192) 2px 2px 12px 2px;
    border-radius: 8px;
  

}
.namePost{
    font-size: x-large;
    color: rgb(7, 6, 6);
    text-transform: uppercase;
    text-align: center;
    background-blend-mode: normal;
    box-shadow: none;
}

.datePost{
    color: rgb(148, 148, 148);
    font-size: 12px;
    text-transform: none;
    text-align: right;
    text-decoration-line: none;
    background-blend-mode: normal;
    background-color: transparent;
}
.imagePost{
    max-width: 250px;
    
}