.services{
    width: 120px;
    height: 30px;
    background-color: #FF9AA2;
    position: relative;
    animation-name: example;
    animation-duration: 10s;
    border-radius: 20px;
    animation-iteration-count: 100;
}
@keyframes example {
    0%   {background-color:#E2F0CB; left:0%; top:0px;}
    25%  {background-color:#B5EAD7; left:25%; top:10px;}
    50%  {background-color:#fdfd96; left:50%; top:0px;}
    75%  {background-color:#C7CEEA; left:75%; top:10px;}
    100% {background-color:#96fd96; left:100%; top:0px;}
  }
  .services_text{
      text-align: center;
      font-size: 17px;
      font-family: "Great Vibes", cursive; 
  font-weight: normal;
    text-shadow: 0 1px 1px #fff; 
      font-style: italic;
  }
  .row{
      color: #696969;
      font-family: "Great Vibes", cursive; 
      font-weight: normal;
        text-shadow: 0 1px 1px #fff; 
      text-align: center;
      align-items: center;
  }
  .ligne1{
      border: 20px;
      font-size: 50px;
      font-family: "Great Vibes", cursive; 
      font-weight: normal;
        text-shadow: 0 1px 1px #fff; 
  }
  .col1{
      background-color: #fee1e1;
      padding: 10px;
      border-radius: 10px;
      margin-right:10%;
      margin-left: 10%;
      margin-top: 1%;
      margin-bottom: 3%;
     
  }
  .item{
      
      color:#ca96fd;
      font-family: "Great Vibes", cursive; 
      font-weight: normal;
        text-shadow: 0 1px 1px #fff; 
      font-size: 20px;
      list-style-type: none;
    text-align:center;
  background-color: white;
  padding: 5px;
  
    
  }
  .item:hover {font-size: 22px;}
  ol{
      margin-bottom: 50px;
      align-items: center;
      position: relative;
      left: -20px;
  }
  a{
      color: #fc4ba4;
  }