.row1{
      
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #e1fee1;
    border-top-left-radius: 50px;
    min-height: 120vh;
}
.row2{
      
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fee1e1;
    border-bottom-right-radius: 50px;
    min-height: 120vh;

}
.col1 {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "." "content" ".";

}
.content {
    grid-area: content;
}

.col4 {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "." "content" ".";

}
.content_ {
    grid-area: content;
}
.col2{
    justify-content: right;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.col3{
    justify-content: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.quote{
    font-family: "Great Vibes", cursive; 
    font-weight: normal;
      text-shadow: 0 1px 1px #fff; 
 text-align:center;
 text-decoration-style: wavy; 
 font-size: 50px;
 margin: 50px;
 color: #696969;
 line-height: 100px;
}


.author{
    font-family: "Great Vibes", cursive; 
    font-weight: normal;
      text-shadow: 0 1px 1px #fff; 
    color: #696969;
    text-align: right;
    margin: 70px;
    font-size: 20px;
    
}
.description{
    font-family: "Great Vibes", cursive; 
  font-weight: normal;
    text-shadow: 0 1px 1px #fff; 
    text-align:center;
    text-decoration-style: wavy; 
    font-size: 20px;
    margin: 20px;
    color: #696969;
    line-height:50px;
}
 