.title{
    font-size: 50px;
    color: #d54d7b; 
    font-family: "Great Vibes", cursive; 
   
     line-height: 160px;
      font-weight: normal;
       margin-bottom: 0px;
        margin-top: 40px;
         text-align: center;
     text-shadow: 0 1px 1px #fff; 
    width: 300px;
    line-height:1.5;
    margin-left: 160px;
    
}
.description{
    color: #696969;
    font-size: 25px;
    text-align: center;
    width: 600px;
    height: 370px;
    line-height:3;
    margin: 40px;
    font-family: "Great Vibes", cursive; 
  font-weight: normal;
    text-shadow: 0 1px 1px #fff; 
    
}
.col2{
    justify-content: center;
    background-color:#fdfd96;
    width: auto;
    height: auto;
    text-align: center;
    margin: 10px;
    border-radius: 100%;
    justify-content: center;
}

.col1{
    width: auto;
    height: auto;
    justify-content: center;
    margin: 80px;

}
.row{
    
    justify-content: center;
    display: flex;
    flex-direction: row;
}
input[type=text] {
    border-radius: 3%;
    border: none;
    border-bottom: 1px solid #696969;
    text-align: center;
    background-color:white;
    width: 400px;
    height: 40px;
    margin: 20px;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A9A9A9;
    font-size: 15px;
    text-align: justify;
    font-family: "Great Vibes", cursive; 
  font-weight: normal;
    text-shadow: 0 1px 1px #fff; 
    opacity: 1; /* Firefox */
    margin-left: 20px;
  }
  
  .massage{
    height: 100px !important;  
  }
  button{
      width: 400px;
      height: 60px;
      margin-left: 20px;
      margin-top: 20px;
      border-radius: 2%;
      background-color: #C7CEEA;
      color:white ;
      font-family: "Great Vibes", cursive; 
      font-weight: normal;
        text-shadow: 0 1px 1px #fff; 
        font-size: 100%;
    border:none;
  
  }